In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('../iniadMaterial/AI-0102/1393_2017-utf8.csv',delimiter=',', skiprows=9, header=0)
print( df1.shape )
print( df1.dtypes )
display( df1.info() )
df2 = pd.read_csv('../iniadMaterial/AI-0102/2045_2017-utf8.csv',delimiter=',', skiprows=9, header=0)
print( df2.shape )
print( df2.dtypes )
display( df2.info() )

(139, 7)
Date        object
Open         int64
High         int64
Low          int64
Close        int64
Vol          int64
AdjClose     int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      139 non-null    object
 1   Open      139 non-null    int64
 2   High      139 non-null    int64
 3   Low       139 non-null    int64
 4   Close     139 non-null    int64
 5   Vol       139 non-null    int64
 6   AdjClose  139 non-null    int64
dtypes: int64(6), object(1)
memory usage: 7.7+ KB

None

(201, 7)
Date        object
Open         int64
High         int64
Low          int64
Close        int64
Vol          int64
AdjClose     int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      201 non-null    object
 1   Open      201 non-null    int64
 2   High      201 non-null    int64
 3   Low       201 non-null    int64
 4   Close     201 non-null    int64
 5   Vol       201 non-null    int64
 6   AdjClose  201 non-null    int64
dtypes: int64(6), object(1)
memory usage: 11.1+ KB

None

In [3]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%Y-%m-%d')
df1 = df1[['Date', 'High']]
display(df1.head())

        Date   High
0 2017-01-04  25520
1 2017-01-05  25520
2 2017-01-06  25170
3 2017-01-10  25170
4 2017-01-11  25040

In [4]:
df2['Date'] = pd.to_datetime(df2['Date'], format='%Y-%m-%d')
df2 = df2[['Date', 'High']]
display(df2.head())

        Date  High
0 2017-01-04  9340
1 2017-01-05  9340
2 2017-01-06  9380
3 2017-01-10  9390
4 2017-01-11  9520

In [6]:
df12 = pd.merge(df1, df2, on='Date', how='inner')
display(df12.head())

        Date  High_x  High_y
0 2017-01-04   25520    9340
1 2017-01-05   25520    9340
2 2017-01-06   25170    9380
3 2017-01-10   25170    9390
4 2017-01-11   25040    9520

In [7]:
print(df12['High_x'].corr(df12['High_y']))

0.9000759630136421