### AI-0102 Practice 6

**1.**

In [38]:
import pandas as pd

**2.**

In [39]:
csv_in1 = 'vital_temp.csv'
df_temp = pd.read_csv(csv_in1, delimiter=',', skiprows=0, header=0)

**3.**

In [40]:
print( df_temp.shape )
print( df_temp.info() )
display( df_temp.head() )

(7, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    7 non-null      object
 1   Temp    7 non-null      float64
dtypes: float64(1), object(1)
memory usage: 240.0+ bytes
None

         Date  Temp
0  2020-02-04  36.5
1  2020-02-06  35.8
2  2020-02-07  36.8
3  2020-02-10  36.8
4  2020-02-11  36.0

**4.**

In [41]:
df_temp['Date'] = pd.to_datetime(df_temp['Date'])
print( df_temp.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    7 non-null      datetime64[ns]
 1   Temp    7 non-null      float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 240.0 bytes
None

**5.**

In [42]:
csv_in2 = 'vital_pulse.csv'
df_pulse = pd.read_csv(csv_in2, delimiter=',', skiprows=0, header=0)

**6.**

In [43]:
print( df_pulse.shape )
print( df_pulse.info() )
display( df_pulse.head() )

(10, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    10 non-null     object
 1   Pulse   10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes
None

         Date  Pulse
0  2020-02-04     64
1  2020-02-06     64
2  2020-02-09     70
3  2020-02-10     66
4  2020-02-11     67

**7.**

In [44]:
df_pulse['Date'] = pd.to_datetime(df_pulse['Date'])
print( df_pulse.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    10 non-null     datetime64[ns]
 1   Pulse   10 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 288.0 bytes
None

**8.**

In [48]:
df_outer = pd.merge(df_temp, df_pulse, on='Date', how='outer')
display( df_outer )

         Date  Temp  Pulse
0  2020-02-04  36.5   64.0
1  2020-02-06  35.8   64.0
2  2020-02-07  36.8    NaN
3  2020-02-10  36.8   66.0
4  2020-02-11  36.0   67.0
5  2020-02-13  35.8    NaN
6  2020-02-14  36.1    NaN
7  2020-02-09   NaN   70.0
8  2020-02-18   NaN   65.0
9  2020-02-19   NaN   76.0
10 2020-02-25   NaN   66.0
11 2020-02-26   NaN   69.0
12 2020-02-29   NaN   70.0

**9.**

In [46]:
df_outer2 = df_outer.dropna().reset_index(drop=True)
display( df_outer2 )

        Date  Temp  Pulse
0 2020-02-04  36.5   64.0
1 2020-02-06  35.8   64.0
2 2020-02-10  36.8   66.0
3 2020-02-11  36.0   67.0

**10.**

In [47]:
df_inner = pd.merge(df_temp, df_pulse, on='Date', how='inner')
display( df_inner )

        Date  Temp  Pulse
0 2020-02-04  36.5     64
1 2020-02-06  35.8     64
2 2020-02-10  36.8     66
3 2020-02-11  36.0     67