### AI-0102 Practice 3

**1.**

In [1]:
import pandas as pd

**2.**

In [2]:
df1 = pd.DataFrame( [[ 1, 3, 2, 4 ], [ 8, 5, 6, 7 ]] )
display(df1)

   0  1  2  3
0  1  3  2  4
1  8  5  6  7

**3.**

In [3]:
df1.columns = [ 'c1', 'c2', 'c3', 'c4' ]
display(df1)

   c1  c2  c3  c4
0   1   3   2   4
1   8   5   6   7

**4.**

In [4]:
print( df1.loc[0] )

c1    1
c2    3
c3    2
c4    4
Name: 0, dtype: int64

**5.**

In [5]:
print( df1['c2'] )

0    3
1    5
Name: c2, dtype: int64

**6.**

In [6]:
display( df1[ ['c2', 'c4'] ] )

   c2  c4
0   3   4
1   5   7

**7.**

In [7]:
display( df1.loc[:, 'c2':'c4'] )

   c2  c3  c4
0   3   2   4
1   5   6   7