### AI-0102 Practice 4

**1.**

In [14]:
import pandas as pd

**2.**

In [15]:
csv_in = 'running.csv'
df1 = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)

**3.**

In [16]:
print( df1.shape )
print( df1.info() )
display( df1.head() )

(47, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      47 non-null     int64
 1   Univ    47 non-null     object
 2   Grade   47 non-null     int64
 3   Time    47 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.6+ KB
None

     ID Univ  Grade  Time
0  1001    D      3  1870
1  1004    C      1  1957
2  1006    D      2  2063
3  1007    D      3  1839
4  1008    C      2  1740

**4.**

In [17]:
print( df1['Univ'].value_counts() )

A    16
D    15
B     8
C     8
Name: Univ, dtype: int64

**5.**

In [18]:
df2 = df1[ (df1['Univ']!='C') & (df1['Grade']<=3) ]
print( df2.shape )
display( df2.head(10) )

(31, 4)

      ID Univ  Grade  Time
0   1001    D      3  1870
2   1006    D      2  2063
3   1007    D      3  1839
5   1009    B      3  2082
7   1011    A      3  1818
8   1012    A      3  1783
9   1013    A      2  1965
10  1014    D      1  1803
11  1015    A      2  2123
14  1018    D      1  1926

**6.**

In [19]:
display( df2.loc[df2['Time'].idxmin() ])

ID       1030
Univ        D
Grade       3
Time     1761
Name: 26, dtype: object