In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame([[1,3,2,4],[8,5,7,4]])
display(df1)

   0  1  2  3
0  1  3  2  4
1  8  5  7  4

In [5]:
df1.columns = (['c1', 'c2', 'c3', 'c4'])
display(df1)

   c1  c2  c3  c4
0   1   3   2   4
1   8   5   7   4

In [8]:
print(df1.columns)

Index(['c1', 'c2', 'c3', 'c4'], dtype='object')

In [10]:
print(df1.loc[0])

c1    1
c2    3
c3    2
c4    4
Name: 0, dtype: int64

In [12]:
print(df1['c2'])

0    3
1    5
Name: c2, dtype: int64

In [14]:
print(df1[['c2', 'c4']])

   c2  c4
0   3   4
1   5   4

In [16]:
print(df1.loc[:, 'c2':'c4'])

   c2  c3  c4
0   3   2   4
1   5   7   4

In [17]:
print(df1.loc[0][0])

1

In [18]:
print(df1.loc[0]['c1'])

1

In [20]:
print(df1.loc[:, 'c1'])

0    1
1    8
Name: c1, dtype: int64