### Training of statistical test

In [63]:
import numpy as np
import pandas as pd
import scipy.stats as ss

#### 1. Can population mean of weight be regarded as 100 [g] ? (one-sample t-test)  
重さの母平均は100gであると見なせるか？ (1標本t検定)  

H0: Can be regarded as 100 [g]

In [64]:
csv_in = 'stat_test_sample1.csv'
df1 = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df1.shape)
display(df1.head())

(50, 1)

   Weight
0   104.4
1   100.1
2   101.1
3   101.8
4    99.4

In [65]:
print(df1['Weight'].mean())
t, p = ss.ttest_1samp(df1['Weight'], 100.0)
print(t, p)

100.81
2.6136804129818287 0.01186444990469143

##### (Conclusion) p < 0.05, so population mean of the weight CANNOT be regarded as 100g  
(結論) 重さの母平均は100gであるとは見なせない。

#### 2. Does the population mean of blood pressure decrease after taking a medichine? (paired t-test)
服薬後に血圧の母平均は低下したといえるか？ (対応のある2標本t検定)  

H0: Population mean of blood pressure DOES NOT decreased

In [66]:
csv_in = 'stat_test_sample2.csv'
df2 = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df2.shape)
display(df2.head())

(30, 2)

   BP_before  BP_after
0      123.4     115.5
1      119.1     119.1
2      120.1     113.7
3      120.8     118.1
4      118.4     112.9

In [67]:
print(df2['BP_before'], df2['BP_after'])
t, p = ss.ttest_1samp(df2['BP_after']-df2['BP_before'], 0.0)
print(t, p/2)

0     123.4
1     119.1
2     120.1
3     120.8
4     118.4
5     120.0
6     120.0
7     116.5
8     122.0
9     121.2
10    118.7
11    119.7
12    121.0
13    119.5
14    119.5
15    117.1
16    121.1
17    120.2
18    120.5
19    116.9
20    123.3
21    120.3
22    119.2
23    124.1
24    119.9
25    117.1
26    119.2
27    115.4
28    122.1
29    119.2
Name: BP_before, dtype: float64 0     115.5
1     119.1
2     113.7
3     118.1
4     112.9
5     115.7
6     114.6
7     119.9
8     120.5
9     116.3
10    118.7
11    116.6
12    118.1
13    115.5
14    113.6
15    113.4
16    117.8
17    121.5
18    117.5
19    116.0
20    120.8
21    117.5
22    117.2
23    117.5
24    116.7
25    116.4
26    114.1
27    118.0
28    116.8
29    119.4
Name: BP_after, dtype: float64
-5.7404882921852876 1.626650093900597e-06

##### (Conclusion) t < 0 and p/2 < 0.05, so population mean of the blood pressure significantly decreased after taking this medicine.  
(結論) この薬を飲むと血圧の母平均は有意に下がったといえる。

#### 3. Are the population means of exam results different between male and female? (unpaired t-test, two-sided)
試験点数の母平均に男女差があるといえるか？ (対応のない2標本t検定, 両側検定)  

H0: Population means of exam results are NOT different

In [68]:
csv_in = 'stat_test_sample3.csv'
df3 = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df3.shape)
display(df3.head())

(60, 2)

  M_or_F  Points
0      M      75
1      M      70
2      M      68
3      M      61
4      M      67

In [69]:
df3_M = df3[ df3['M_or_F'] == 'M' ]
df3_F = df3[ df3['M_or_F'] == 'F' ]
print(df3_M['Points'].mean(), df3_F['Points'].mean())
t, p = ss.ttest_ind(df3_F['Points'], df3_M['Points'], equal_var=False)
print(t, p)

67.62857142857143 69.2
1.9459690680158375 0.05664275196687031

##### (Conclusion) p > 0.05, so population means of males' points and females' points are not significantly different.  
(結論) 試験点数の母平均に男女差があるとはいえない。

#### 3-2.Is the population mean of female better than that of male? (unpaired t-test, one-sided)
試験点数の母平均は女の方が男よりよいといえるか？ (対応のない2標本t検定, 片側検定)  

H0: Population mean of female is NOT different from that of male

In [70]:
print(df3_M['Points'].mean(), df3_F['Points'].mean())
t, p = ss.ttest_ind(df3_M['Points'], df3_F['Points'], equal_var=False)
print(t, p/2)

67.62857142857143 69.2
-1.9459690680158375 0.028321375983435156

##### (Conclusion) t < 0 (mean of M < mean of F) and p/2 < 0.05, so population means of females' points is significantly better than that of males' points.
(結論) 試験点数の母平均は女の方が男より有意によいといえる。

#### 4. Are the population MEDIANs of exam results different between male and female? (Mann-Whitney's U-test)
試験点数の母**中央値**に男女差があるといえるか？ (Mann-WhitneyのU検定(WilcoxonNo順位和検定))  

H0: Population medians of exam results are NOT different

In [71]:
csv_in = 'stat_test_sample3.csv'
df4 = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df4.shape)
display(df4.head())

(60, 2)

  M_or_F  Points
0      M      75
1      M      70
2      M      68
3      M      61
4      M      67

In [72]:
df4_M = df4[ df4['M_or_F'] == 'M' ]
df4_F = df4[ df4['M_or_F'] == 'F' ]
print(df4_M['Points'].median(), df4_F['Points'].median())
u, p = ss.mannwhitneyu(df4_M['Points'], df4_F['Points'], alternative='two-sided')
print(u, p)

67.0 69.0
293.5 0.030535089546651604

##### (Conclusion) p < 0.05, so population MEDIANs of male/femail points are significantly different.   
Note that this conclusion is opposite to 3. using the same data.  
"0.05" is NOT A GOLDEN THRESHOLD,  
and we should collect more results to know about the data.  
(結論) 試験点数の母中央値には男女差が有意にある。  
注意: 3.とまったく同じデータを使用しているが結論は逆になっている。  
「0.05」は何か根拠のある値ではない。データを把握するには、多くの解析を総合的に判断することが必要。

#### 5. Does the population MEDIAN of blood pressure decrease after taking a medichine? (Wilcoxon signed rank test)
服薬後に血圧の母**中央値**は低下したといえるか？ (Wilcoxonの符号順位検定)  

H0: Population medians of exam results DOES NOT decreased

In [73]:
csv_in = 'stat_test_sample2.csv'
df5 = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df5.shape)
display(df5.head())

(30, 2)

   BP_before  BP_after
0      123.4     115.5
1      119.1     119.1
2      120.1     113.7
3      120.8     118.1
4      118.4     112.9

In [74]:
d = df5['BP_after'] - df5['BP_before']
ranks = ss.rankdata(np.abs(d))
rank_plus = np.sum((d>0)*ranks)
rank_minus = np.sum((d<0)*ranks)
print('rank sum:', rank_plus-rank_minus)
T, p = ss.wilcoxon(d)
print(T, p/2)

rank sum: -388.0
29.0 3.7126840619767754e-05

##### (Conclusion) Rank sum of BP_after - BP_before is negative, and p/2 < 0.05, so population median of the blood pressure significantly decreased after taking this medicine.  
(結論) この服薬後の血圧の符号付き順位和は負であり(つまり血圧は服薬により低下方向)、かつp/2(片側なので)<0.05なので、この薬を飲むと血圧の母平均は有意に下がったといえる。

#### 6. Are rows and cols significantly correlated on a small 2x2 cross table? (Fisher's exact test)  
Data: Results of the two questions: "Do you live in Tokyo?" and "Do you like baseball?"  
小さな2x2クロス集計表において、行と列の間に関連はあるといえるか？ (Fisher正確確率検定)    
データ: 「東京に住んでいますか？」「野球が好きですか？」のアンケート結果  

H0: "live in Tokyo or not" and "like baseball or not" DOES NOT significantly correlated  

- Hint: Program for count by values: see "Cross Tabulation (クロス集計)" on MOOCs AI-0102.

In [75]:
csv_in = 'stat_test_sample6.csv'
df6 = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df6.shape)
display(df6.head())

(20, 2)

  Live_in_Tokyo Like_baseball
0             N             N
1             Y             N
2             N             N
3             Y             Y
4             Y             Y

In [76]:
cross_tab = pd.crosstab(df6['Live_in_Tokyo'], df6['Like_baseball'])
display(cross_tab)

Like_baseball  N  Y
Live_in_Tokyo
N              7  1
Y              4  8

In [77]:
odds, p = ss.fisher_exact(cross_tab)
print(odds, p)

14.0 0.028101929030721624

##### (Conclusion) p < 0.05, so "Live in Tokyo" and "Like baseball" are significantly related. 
(結論) 「東京在住」と「野球好き」は有意に関連している。

#### 7. Are rows and cols significantly correlated on a general cross table?  (test of independence by chi-squared test)   
Data: Results of the two questions: "Where are you from (Kyushu/Shikoku/Honshu/Hokkaido)" and "Do you like baseball?"  
一般のクロス集計表において、行と列の間に関連はあるといえるか？ (独立性のカイ2乗検定)    
データ: 「どの地域出身ですか？」「野球が好きですか？」のアンケート結果  

H0: Area and "like baseball" DOES NOT significantly correlated

In [78]:
csv_in = 'stat_test_sample7.csv'
df7 = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df7.shape)
display(df7.head())

(100, 2)

       Area Like_baseball
0    Honshu             Y
1  Hokkaido             Y
2    Kyushu             N
3  Hokkaido             N
4   Shikoku             Y

In [79]:
cross_tab = pd.crosstab(df7['Area'], df7['Like_baseball'])
display(cross_tab)

Like_baseball   N   Y
Area
Hokkaido       15   8
Honshu          5  12
Kyushu         20  15
Shikoku         9  16

In [80]:
chi2, p, dof, expected = ss.chi2_contingency(cross_tab)
print(chi2, p, dof, expected)

7.65013349146747 0.05382380715727916 3 [[11.27 11.73]
 [ 8.33  8.67]
 [17.15 17.85]
 [12.25 12.75]]

##### (Conclusion) p > 0.05, so "Area" and "Like baseball" are not significantly related. 
(結論) 「出身地域」と「野球好き」は有意に関連しているとはいえない。

#### 8. Are observed frequencies are regarded to be the same as expected frequencies? (chi-square goodness-of-fit test)   
Data: The frequency of "Most lucky" zodiac sign every day: Is it uniform?   
観測度数は理論(期待)度数と同じいえるか？ (適合度のカイ2乗検定)    
データ: 毎日の星占い1位。偏りはない？  

H0: Distribution of "most lucky zodiac sign" is regarded as "uniform".    

- Hint: Program for count by values: see "List unique values and their counts in columns (列の値の種類と個数一覧)" on MOOCs AI-0102.

In [81]:
csv_in = 'stat_test_sample8.csv'
df8 = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df8.shape)
display(df8.head())

(260, 1)

    most_lucky
0     Aquarius
1  Sagittarius
2    Capricorn
3       Cancer
4  Sagittarius

In [82]:
lucky = df8['most_lucky'].value_counts()
print(lucky)

Scorpio        28
Sagittarius    28
Aries          27
Aquarius       24
Taurus         24
Leo            24
Virgo          23
Pisces         21
Gemini         20
Capricorn      17
Cancer         13
Libra          11
Name: most_lucky, dtype: int64

In [83]:
chi2, p = ss.chisquare(lucky)
print(chi2, p)

15.723076923076922 0.15172688327982078

##### (Conclusion) p > 0.05, so "Distribution of Most Lucky Zodiac is not significantly different from uniform"
(結論) 「星占い1位」の星座は偏っているとはいえない。

#### Tukey-Kramer method
Tukey-Kramer多重比較

Data: Exam results of students after three kinds of lectures (A, B, C)  
A, B, Cの3つの講義を受けたあとの試験得点  

H0: All pairs of the population means of exam results (A-B, B-C, C-A) are the same.

##### Read data

In [84]:
csv_in = 'stat_test_sample_tukey_kramer.csv'
df_tk = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df_tk.shape)
display(df_tk.head())

(24, 2)

  Lecture  Points
0       A      90
1       A      86
2       A      70
3       A      82
4       A      91

In [85]:
df_tk_A = df_tk[ df_tk['Lecture']=='A' ]
df_tk_B = df_tk[ df_tk['Lecture']=='B' ]
df_tk_C = df_tk[ df_tk['Lecture']=='C' ]

##### Levene's test (equality of variance)

In [86]:
W, p = ss.levene(df_tk_A['Points'], df_tk_B['Points'], df_tk_C['Points'])
print(W, p)

2.9281575898030123 0.07556403346220929

##### p > 0.05 (= can be regarded as equal variance), so go forward to execute Tukey-Kramer method

In [87]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

pairwise_tukeyhsd(data, labels)  # labels can be any string or value

In [88]:
results = pairwise_tukeyhsd(df_tk['Points'], df_tk['Lecture'])
print(results)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     A      B -14.4167  0.001 -22.7227 -6.1106   True
     A      C  -3.6071 0.5662  -12.454  5.2397  False
     B      C  10.8095 0.0125   2.1951  19.424   True
-----------------------------------------------------

##### (Conclusion) Population means of points for lectures A-B and B-C are significantly different.  
(結論) 講義A-B, B-Cの間の試験得点の母平均は有意に差があるといえる。

#### Two-way ANOVA and Tukey-Kramer method  
二元配置分散分析からのTukey-Kramer多重比較

##### Read data
NOTE: columns for factors should be read as 'object'.  
So, pd.read_csv(..., dtype={'mg':'object'}) is needed.  
「要因」として用いる列は文字列型(object)で読んでおかないといけない。  
このため pd.read_csv(..., dtype={'mg':'object'}) としている。

In [89]:
csv_in = 'stat_test_sample_2way_anova.csv'
df_at = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0,
                 dtype={'mg':'object'})
print(df_at.shape)
print(df_at.info())
display(df_at.head())

(60, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Humidity    60 non-null     float64
 1   Ingredient  60 non-null     object
 2   mg          60 non-null     object
dtypes: float64(1), object(2)
memory usage: 1.5+ KB
None

   Humidity Ingredient  mg
0       3.0          A  50
1      10.3          A  50
2       6.1          A  50
3       4.6          A  50
4       5.2          A  50

##### Two-way ANOVA
二元配置分散分析

Import additional libraries

In [90]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

Execute 2-way ANOVA

In [91]:
formula = 'Humidity ~ Ingredient + mg + Ingredient:mg'  # 2-way (Ingredient and mg)
model = ols(formula, df_at).fit()
print(model.summary())
aov_table = sm.stats.anova_lm(model, typ=2)  # Usually use Type II ANOVA
print(aov_table)

                            OLS Regression Results
==============================================================================
Dep. Variable:               Humidity   R-squared:                       0.794
Model:                            OLS   Adj. R-squared:                  0.775
Method:                 Least Squares   F-statistic:                     41.56
Date:                Mon, 18 May 2020   Prob (F-statistic):           2.50e-17
Time:                        16:05:12   Log-Likelihood:                -159.35
No. Observations:                  60   AIC:                             330.7
Df Residuals:                      54   BIC:                             343.3
Df Model:                           5
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                    15.5700      1.148     13.559      0.000      13.268      17.872
Ingredient[T.B]               5.9300      1.624      3.651      0.001       2.674       9.186
mg[T.150]                     9.3700      1.624      5.770      0.000       6.114      12.626
mg[T.50]                     -8.7900      1.624     -5.413      0.000     -12.046      -5.534
Ingredient[T.B]:mg[T.150]    -6.0100      2.297     -2.617      0.011     -10.615      -1.405
Ingredient[T.B]:mg[T.50]     -0.6800      2.297     -0.296      0.768      -5.285       3.925
==============================================================================
Omnibus:                        0.336   Durbin-Watson:                   2.025
Prob(Omnibus):                  0.846   Jarque-Bera (JB):                0.324
Skew:                           0.164   Prob(JB):                        0.850
Kurtosis:                       2.852   Cond. No.                         9.77
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                    sum_sq    df          F        PR(>F)
Ingredient      205.350000   1.0  15.571979  2.311828e-04
mg             2426.434333   2.0  91.999965  4.046291e-18
Ingredient:mg   108.319000   2.0   4.106991  2.186027e-02
Residual        712.106000  54.0        NaN           NaN

In [92]:
df_at['labels'] = df_at['Ingredient']+df_at['mg']  # make unique labels for each group
display(df_at.head())

   Humidity Ingredient  mg labels
0       3.0          A  50    A50
1      10.3          A  50    A50
2       6.1          A  50    A50
3       4.6          A  50    A50
4       5.2          A  50    A50

In [93]:
results = pairwise_tukeyhsd(df_at['Humidity'], df_at['labels'])
print(results)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
======================================================
group1 group2 meandiff p-adj   lower    upper   reject
------------------------------------------------------
  A100   A150     9.37  0.001   4.5719  14.1681   True
  A100    A50    -8.79  0.001 -13.5881  -3.9919   True
  A100   B100     5.93 0.0074   1.1319  10.7281   True
  A100   B150     9.29  0.001   4.4919  14.0881   True
  A100    B50    -3.54  0.264  -8.3381   1.2581  False
  A150    A50   -18.16  0.001 -22.9581 -13.3619   True
  A150   B100    -3.44 0.2937  -8.2381   1.3581  False
  A150   B150    -0.08    0.9  -4.8781   4.7181  False
  A150    B50   -12.91  0.001 -17.7081  -8.1119   True
   A50   B100    14.72  0.001   9.9219  19.5181   True
   A50   B150    18.08  0.001  13.2819  22.8781   True
   A50    B50     5.25 0.0243   0.4519  10.0481   True
  B100   B150     3.36 0.3187  -1.4381   8.1581  False
  B100    B50    -9.47  0.001 -14.2681  -4.6719   True
  B150    B50   -12.83  0.001 -17.6281  -8.0319   True
------------------------------------------------------

##### (Conclusion) Population means between A100-B50, A150-B100, A150-B150, B100-B150 are not significantly different. Population means of other pairs can be regarded as different.
(結論) A100-B50, A150-B100, A150-B150, B100-B150 の母平均は有意に異なるとはいえない。残りのペアの母平均は有意に異なるといえる。