### dm-11-practice2

#### Import libraries

In [1]:
import pandas as pd
import numpy as np

import pyfpgrowth  # https://fp-growth.readthedocs.io/en/latest/

#### Parameters

In [2]:
csv_in = 'dm-end2-4.csv'

#### Read CSV file

In [3]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(999, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Invoice  999 non-null    object
 1   Item     999 non-null    int64
dtypes: int64(1), object(1)
memory usage: 15.7+ KB
None

  Invoice  Item
0   T1016   240
1   T1009   195
2   T1039   222
3   T1041   249
4   T1005   104

#### Check appearance of each StockCode

In [4]:
top_inv = df['Invoice'].value_counts()
print(top_inv.size)
print(top_inv.head())

50
T1008    30
T1007    26
T1012    26
T1031    26
T1034    26
Name: Invoice, dtype: int64

In [5]:
top_sc = df['Item'].value_counts()
print(top_sc.size)
print(top_sc.head())

150
181    16
146    12
214    11
238    11
200    11
Name: Item, dtype: int64

#### Format transaction data  
Before:  
```
invoice1, stockcode1, ...  
invoice1, stockcode2, ...  
invoice2, stockcode1, ...  
invoice3, stockcode1, ...  
invoice3, stockcode3, ...  
```

After:  
```
[  
  [stockcode1, stockcode2],    
  [stockcode1],  
  [stockcode1, stockcode3],  
  ...  
]  
```

and stockcode should be interger.

#### Grouping transaction data by InvoiceNo

In [13]:
invoices = []
for r in df.groupby('Invoice'):
    s1 = set(r[1]['Item'])
    invoices.append(list(s1))
print(len(invoices))
print(invoices[:3])
has1 = 0
has2 = 0
hasBoth = 0
for invoice in invoices:
    if(181 in invoice): has1 = has1 + 1
    if(146 in invoice): has2 = has2 + 1
    if (146 in invoice) and (181 in invoice): hasBoth = hasBoth + 1
print(has1, has2, hasBoth)
conf_1_2 = hasBoth / has1
conf_2_1 = hasBoth / has2
print(conf_1_2, conf_2_1)

50
[[224, 225, 226, 227, 198, 134, 108, 141, 209, 120, 219, 223], [130, 139, 143, 144, 149, 169, 182, 184, 187, 193, 204, 210, 222, 224, 225, 231, 103, 238, 116], [129, 132, 134, 135, 143, 144, 150, 151, 155, 180, 181, 187, 192, 202, 206, 217, 229, 235, 109, 250]]
15 11 1
0.06666666666666667 0.09090909090909091