### Problem 3

#### Import libraries

In [9]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

#### Parameters

In [10]:
csv_in = 'dl-end2-3.csv'

#### Read CSV file

In [11]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
display(df.head())

                                             content  target     target_names
0    I was wondering if anyone out there could en...       0        rec.autos
1   There were a few people who responded to my r...       3          sci.med
2        I recently posted an article asking what...       0        rec.autos
3     I would like to be able to amplify a voltag...       4  sci.electronics
4   Wayne Alan Martin <wm1h+@andrew.cmu.edu>>Exce...       4  sci.electronics

#### Check the number of documents in each category

In [12]:
print(df['target'].value_counts())
print(df.shape)

1    599
2    597
0    594
3    594
4    591
Name: target, dtype: int64
(2975, 3)

####  Assign docID according to its category

In [13]:
docID = []
j = np.zeros(len(df['target'].value_counts()))
for i in range(len(df)):
    tgt = df.at[i, 'target']
    # base of document ID:
    #   0 for documents of target 0, 1000 for documents of target 1,
    #   2000 for documents of target 2, ...
    docID.append('d'+str(int(tgt*1000+j[tgt])))
    # increment j for target "tgt"
    j[tgt] += 1
df['docID'] = docID
display(df.head())

,content,target,target_names,docID
0,I was wondering if anyone out there could en...,0,rec.autos,d0
1,There were a few people who responded to my r...,3,sci.med,d3000
2,I recently posted an article asking what...,0,rec.autos,d1
3,I would like to be able to amplify a voltag...,4,sci.electronics,d4000
4,Wayne Alan Martin <wm1h+@andrew.cmu.edu>>Exce...,4,sci.electronics,d4001

#### TF-IDF

In [14]:
%%time

vectorizer = TfidfVectorizer(use_idf=True, stop_words='english')

vecs = vectorizer.fit_transform(df['content'])

CPU times: user 467 ms, sys: 7.44 ms, total: 475 ms
Wall time: 472 ms

In [21]:
words = vectorizer.get_feature_names()
vecs_array = vecs.toarray()

print(vecs_array.shape)
for i in range(2975):
    row = vecs_array[i]
    sorted_idx = np.argsort(-row)
    doc_id = df.at[i, 'docID']
    if(doc_id != 'd2022'): continue
    tgt_n = df.at[i, 'target_names']
    result = '{} {}: {};'.format(i, doc_id, tgt_n)
    for j in sorted_idx[:3]:
        print(words[j], vecs_array[i][j])
        result += ' ' + words[j]
    print(result)

/home/anhvu/miniconda3/envs/ds21/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

(2975, 37183)
cleveland 0.24359579697159642
jason 0.23605794527657112
abbot 0.23172006779382376
95 d2022: rec.sport.baseball; cleveland jason abbot