### AI End1 problem 3

#### Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV, KFold, cross_val_score
from sklearn.pipeline import Pipeline

#### Parameters

In [4]:
csv_in = 'ai-end1-3.csv'

#### Read CSV file

In [5]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(1596, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596 entries, 0 to 1595
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         1596 non-null   float64
 1   volatile_acidity      1596 non-null   float64
 2   citric_acid           1596 non-null   float64
 3   residual_sugar        1596 non-null   float64
 4   chlorides             1596 non-null   float64
 5   free_sulfur_dioxide   1596 non-null   float64
 6   total_sulfur_dioxide  1596 non-null   float64
 7   density               1596 non-null   float64
 8   pH                    1596 non-null   float64
 9   sulphates             1596 non-null   float64
 10  alcohol               1596 non-null   float64
 11  quality               1596 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 149.8 KB
None

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
2,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
3,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
4,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7

#### Get X and y

In [6]:
X = df.iloc[:, :-1]  # explanatory variables
y = df['quality']  # objective variable
print('X:', X.shape)
display(X.head())
print('y:', y.shape)
print(y.head())

X: (1596, 11)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
2,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4
3,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4
4,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0

y: (1596,)
0    5
1    5
2    5
3    5
4    7
Name: quality, dtype: int64

#### Cross Validation

In [7]:
pipe = Pipeline([('scaler', MinMaxScaler(feature_range=(0, 1), copy=True)),
                 ('svr', SVR(kernel='rbf'))])

C_grid = [10., 100.]  
g_grid = [0.01, 0.1]  
e_grid = [0.01, 0.1, 1.0]  # np.logspace(-2, 2, num=5)

# Hyper paramet settings for grid search
param_grid = {
    'svr__C': C_grid,
    'svr__gamma' : g_grid,
    'svr__epsilon' : e_grid,
}

In [8]:
grid_cv = KFold(n_splits=5, shuffle=True, random_state=7)  # for grid search
gen_cv = KFold(n_splits=3, shuffle=True, random_state=11)  # for estimation of generalization performance

In [9]:
gs = GridSearchCV(pipe, param_grid , cv=grid_cv, scoring='neg_mean_squared_error')

In [10]:
%%time
nested_score = cross_val_score(gs, X=X, y=y, cv=gen_cv,
                               scoring='neg_mean_squared_error')
print(nested_score)
print(np.sqrt(-nested_score.mean()))

[-0.44329474 -0.43591573 -0.41352025]
0.6564375365443893
CPU times: user 4.43 s, sys: 14.9 ms, total: 4.45 s
Wall time: 4.46 s

In [11]:
%%time
gs.fit(X, y)
gs_best = gs.best_estimator_

CPU times: user 2.64 s, sys: 7.83 ms, total: 2.65 s
Wall time: 2.65 s

In [12]:
print(gs.best_params_)

{'svr__C': 100.0, 'svr__epsilon': 0.1, 'svr__gamma': 0.1}