In [6]:
import numpy as np
import scipy.stats as ss
import pandas as pd

In [7]:
df = pd.read_csv('ai-mid-p1.csv', delimiter=',', skiprows=4, header=0)
print(df.shape)
print(df.info())
display(df.head())

(100, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   price       100 non-null    int64
 1   horsepower  100 non-null    float64
 2   width       99 non-null     float64
 3   height      100 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 3.2 KB
None

   price  horsepower  width  height
0   8778        62.0   63.6    59.1
1  12964       145.0   66.3    50.2
2  24565       121.0   66.9    55.7
3   7975        85.0   65.5    55.7
4  16900        95.0   68.4    56.7

In [8]:
print( df.isnull().sum() )

price         0
horsepower    0
width         1
height        0
dtype: int64

In [9]:
df = df.dropna().reset_index(drop=True)
print(df.shape)
print(df.info())
display(df.head())

(99, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   price       99 non-null     int64
 1   horsepower  99 non-null     float64
 2   width       99 non-null     float64
 3   height      99 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 3.2 KB
None

   price  horsepower  width  height
0   8778        62.0   63.6    59.1
1  12964       145.0   66.3    50.2
2  24565       121.0   66.9    55.7
3   7975        85.0   65.5    55.7
4  16900        95.0   68.4    56.7

In [10]:
print(df['width'].mean())

66.08888888888889

In [11]:
ser_max = df.loc[ df['price'].idxmax() ]
print(ser_max)

price         36000.0
horsepower      262.0
width            70.6
height           47.8
Name: 36, dtype: float64

In [12]:
df['h/w'] = df['horsepower'] / df['width']
ser_max = df.loc[ df['h/w'].idxmax() ]
print(ser_max)

price         36000.000000
horsepower      262.000000
width            70.600000
height           47.800000
h/w               3.711048
Name: 36, dtype: float64

In [13]:
print(df.loc[46])

price         22018.000000
horsepower      143.000000
width            68.300000
height           50.200000
h/w               2.093704
Name: 46, dtype: float64

In [14]:
x = np.array([10.229, 9.807, 10.118, 10.365, 10.089, 9.922, 10.12, 9.707, 9.847, 9.728, 9.839, 9.754, 9.844, 9.786, 9.927, 9.919, 9.989, 10.321, 9.436, 10.289])
n = x.shape[0]
print(n)
alpha = 0.95
ave = np.mean(x)
unbiased_std = np.std(x, ddof=1)
t_alpha = ss.t.ppf( (1+alpha)/2, n-1 )

lower = ave - t_alpha * unbiased_std / np.sqrt(n)
upper = ave + t_alpha * unbiased_std / np.sqrt(n)
print(lower, upper)

20
9.840463130786542 10.063136869213459