In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster

In [2]:
df = pd.read_csv('ai-mid-p4.csv', delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(100, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  100 non-null    float64
 1   sepal_width   100 non-null    float64
 2   petal_length  100 non-null    float64
 3   petal_width   100 non-null    float64
 4   class         100 non-null    object
dtypes: float64(4), object(1)
memory usage: 4.0+ KB
None

   sepal_length  sepal_width  petal_length  petal_width       class
0           4.6          3.2           1.4          0.2      setosa
1           6.1          2.8           4.7          1.2  versicolor
2           6.4          2.9           4.3          1.3  versicolor
3           7.2          3.0           5.8          1.6   virginica
4           5.8          2.7           4.1          1.0  versicolor

In [3]:
print(df['class'].value_counts())

versicolor    37
virginica     32
setosa        31
Name: class, dtype: int64

In [4]:
df_data = df.loc[:, :'petal_width']
customers = df_data.index
display(df_data.head())

   sepal_length  sepal_width  petal_length  petal_width
0           4.6          3.2           1.4          0.2
1           6.1          2.8           4.7          1.2
2           6.4          2.9           4.3          1.3
3           7.2          3.0           5.8          1.6
4           5.8          2.7           4.1          1.0

In [5]:
Z = linkage(df_data, method='ward', metric='euclidean')
print(Z.shape)
n_data = Z.shape[0]
df_Z = pd.DataFrame(Z,
                    columns=['label1', 'label2',
                             'distance', '#members'],
                    index=['merged{}'.format(i+1+n_data) 
                           for i in range(n_data)])
df_Z['label1'] = df_Z['label1'].astype('int')
df_Z['label2'] = df_Z['label2'].astype('int')
df_Z['#members'] = df_Z['#members'].astype('int')
display(df_Z.head())
display(df_Z.tail())

(99, 4)

           label1  label2  distance  #members
merged100      27      69  0.100000         2
merged101      50      84  0.100000         2
merged102      42      93  0.141421         2
merged103       7      74  0.141421         2
merged104      25      59  0.141421         2

           label1  label2   distance  #members
merged194     183     187   2.962009        31
merged195     186     188   3.013067        21
merged196     192     193   5.650102        48
merged197     195     196   9.072652        69
merged198     194     197  25.339227       100

In [6]:
dist = df_Z['distance']
n_cluster = 3
print('=== n_cluster:', n_cluster, '===')
cls = pd.Series(fcluster(Z, n_cluster, criterion='maxclust'), index=customers)
print('dist:', dist[n_data-n_cluster])
print(cls.head())

=== n_cluster: 3 ===
dist: 5.650102190394856
0    1
1    3
2    3
3    2
4    3
dtype: int32

In [7]:
ct = pd.crosstab(df['class'], cls)
display(ct)

col_0        1   2   3
class
setosa      31   0   0
versicolor   0   0  37
virginica    0  21  11