### Non-hierarchical clustering (kmeans) using two columns

#### Import libraries

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

#### Parameters

In [23]:
csv_in = 'ai-mid-p5.csv'

# To show more rows and columns
pd.options.display.max_rows = 999 
pd.options.display.max_columns = 999

#### Read CSV file

In [24]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(158, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   alcohol     158 non-null    float64
 1   malic_acid  158 non-null    float64
 2   ash         158 non-null    float64
 3   class       158 non-null    object
dtypes: float64(3), object(1)
memory usage: 5.1+ KB
None

    alcohol  malic_acid       ash class
0  1.518613   -0.562250  0.232053     A
1  0.246290   -0.499413 -0.827996     A
2  0.196879    0.021231  1.109334     A
3  1.691550   -0.346811  0.487926     A
4  0.295700    0.227694  1.840403     A

#### Separate data

In [25]:
df_data = df.loc[:, 'alcohol': 'ash']
print(df_data.shape)
display(df_data.head())

(158, 3)

    alcohol  malic_acid       ash
0  1.518613   -0.562250  0.232053
1  0.246290   -0.499413 -0.827996
2  0.196879    0.021231  1.109334
3  1.691550   -0.346811  0.487926
4  0.295700    0.227694  1.840403

In [26]:
n_cls = 3
km = KMeans(n_clusters=n_cls, random_state=20)
cls = km.fit_predict(df_data)

#### See the results of clustering

In [27]:
print(cls)
print(pd.Series(cls).value_counts())

[1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1
 1 2 0 1 0 1 0 2 0 0 1 1 1 2 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 1 2 2 1 1 1
 2 2 2 2 2 0 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2
 2 0 2 2 2 2 2 0 2 2 1 0 0 0 2 2 2 2 0 2 0 2 0 2 2 0 0 0 0 1 1 1 0 0 0 0 0
 0 0 1 0 1 0 2 0 0 0]
2    67
1    58
0    33
dtype: int64

#### Draw scatter plot

#### Make cross table

In [28]:
ct = pd.crosstab(df['class'], cls)
display(ct)

col_0   0   1   2
class
A       6  48   5
B       9   5  57
C      18   5   5