In [6]:
import numpy as np
import scipy.stats as ss
import pandas as pd

In [7]:
df = pd.read_csv('ai_mid1.csv', delimiter=';', skiprows=2, header=0)
print(df.shape)
print(df.info())
display(df.head())

(205, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   price       201 non-null    float64
 1   horsepower  203 non-null    float64
 2   width       205 non-null    float64
 3   height      205 non-null    float64
dtypes: float64(4)
memory usage: 6.5 KB
None

     price  horsepower  width  height
0  13495.0       111.0   64.1    48.8
1  16500.0       111.0   64.1    48.8
2  16500.0       154.0   65.5    52.4
3  13950.0       102.0   66.2    54.3
4  17450.0       115.0   66.4    54.3

In [10]:
df = df.dropna().reset_index(drop=True)
print(df.shape)
print(df.info())
display(df.head())

(199, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   price       199 non-null    float64
 1   horsepower  199 non-null    float64
 2   width       199 non-null    float64
 3   height      199 non-null    float64
dtypes: float64(4)
memory usage: 6.3 KB
None

     price  horsepower  width  height
0  13495.0       111.0   64.1    48.8
1  16500.0       111.0   64.1    48.8
2  16500.0       154.0   65.5    52.4
3  13950.0       102.0   66.2    54.3
4  17450.0       115.0   66.4    54.3