### Problem1

#### Import libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

#### Parameters

In [2]:
csv_in = 'dl-end1-1.csv'

#### Read CSV file

In [3]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(2384, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2384 entries, 0 to 2383
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   content       2384 non-null   object
 1   target        2384 non-null   int64
 2   target_names  2384 non-null   object
dtypes: int64(1), object(2)
memory usage: 56.0+ KB
None

,content,target,target_names
0,I was wondering if anyone out there could en...,0,rec.autos
1,There were a few people who responded to my r...,3,sci.med
2,I recently posted an article asking what...,0,rec.autos
3,Doug Roberts - Ken Hill for NL MVP!! \t ...,2,rec.sport.baseball
4,In article <Apr.5.23.31.36.1993.23919@athos.r...,1,soc.religion.christian

#### (A) Assign docID according to its category

In [10]:
docID = []
j = np.zeros(len(df['target'].value_counts()))
for i in range(len(df)):
    tgt = df.at[i, 'target']
    # base of document ID:
    #   0 for documents of target 0, 1000 for documents of target 1,
    #   2000 for documents of target 2, ...
    docID.append('d'+str(int(tgt*1000+j[tgt])))
    # increment j for target "tgt"
    j[tgt] += 1
df['docID'] = docID
display(df.head())

,content,target,target_names,docID
0,I was wondering if anyone out there could en...,0,rec.autos,d0
1,There were a few people who responded to my r...,3,sci.med,d3000
2,I recently posted an article asking what...,0,rec.autos,d1
3,Doug Roberts - Ken Hill for NL MVP!! \t ...,2,rec.sport.baseball,d2000
4,In article <Apr.5.23.31.36.1993.23919@athos.r...,1,soc.religion.christian,d1000

#### TF-IDF

In [5]:
%%time

vectorizer = TfidfVectorizer(use_idf=True, stop_words='english')

vecs = vectorizer.fit_transform(df['content'])

CPU times: user 797 ms, sys: 18 ms, total: 815 ms
Wall time: 847 ms

In [12]:
words = vectorizer.get_feature_names()
vecs_array = vecs.toarray()
print(vecs.shape)
# print(vecs)
# print(vecs.toarray())

(2384, 32642)

#### (B)

In [13]:
row = vecs_array[df[df.docID=='d1021'].index[0]]
row = row.reshape(-1,)

sorted_idx = sorted(range(len(row)), key=lambda k: row[k], reverse=True)

In [14]:
print( words[sorted_idx[0]] )

atheists