In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [2]:
df = pd.read_csv('shop_sales.csv', delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(200, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ShopID  200 non-null    int64
 1   Pref    200 non-null    object
 2   Type    200 non-null    object
 3   Sales1  200 non-null    int64
 4   Sales2  200 non-null    int64
dtypes: int64(3), object(2)
memory usage: 7.9+ KB
None

   ShopID      Pref       Type  Sales1  Sales2
0     101   Saitama  franchise     108     110
1     102   Saitama     direct      94     108
2     103     Tokyo     direct     103      89
3     104   Saitama  franchise      99     122
4     105  Kanagawa  franchise     113     109

In [3]:
t, p = ss.ttest_1samp(df['Sales2']-df['Sales1'], 0.0)
print(t, p/2)

9.227723073665455 2.0675782068478105e-17

In [5]:
df_tokyo = df[ df['Pref'] == 'Tokyo' ]
df_chiba = df[ df['Pref'] == 'Chiba' ]
t, p = ss.ttest_ind(df_tokyo['Sales2'], df_chiba['Sales2'], equal_var=False)
print(t, p)

-0.014203050540638733 0.9887077113871919

In [8]:
ct = pd.crosstab(df['Pref'], df['Type'])
display(ct)
_, p, _, _ = ss.chi2_contingency(ct)
print(p)

Type      direct  franchise
Pref
Chiba         13         15
Kanagawa      28         30
Saitama       24         25
Tokyo         34         31

0.9502219446727902