### AI-03 Quiz

#### Import libraries

In [1]:
import numpy as np
import pandas as pd

#### Parameters

In [2]:
csv_in = 'ai-03-quiz.csv'

#### Read CSV file

In [3]:
df = pd.read_csv(csv_in,delimiter=',', skiprows=1, header=0)
print('Player Count:', df.shape[0])
display(df)

Player Count: 60

   Team      Pref   Time
0     A   Saitama  176.2
1     A   Saitama  179.1
2     C     Chiba  180.0
3     A     Tokyo  176.5
4     A     Tokyo  179.7
5     A     Tokyo  179.3
6     B     Tokyo  181.1
7     A   Saitama  180.2
8     C     Chiba  183.3
9     A   Saitama  180.3
10    A     Tokyo  179.9
11    A     Tokyo  177.1
12    C   Saitama  181.0
13    A  Kanagawa  181.2
14    A   Saitama  180.2
15    B  Kanagawa  178.3
16    A  Kanagawa  178.7
17    B   Saitama  183.2
18    B   Saitama  179.0
19    C     Chiba  183.1
20    B  Kanagawa  175.0
21    A     Tokyo  181.4
22    B  Kanagawa  180.4
23    C     Chiba  183.7
24    A     Tokyo  179.3
25    A     Tokyo  180.3
26    A     Chiba  179.8
27    B     Tokyo  182.4
28    A  Kanagawa  179.2
29    B     Chiba  182.6
30    B     Tokyo  179.4
31    C     Tokyo  177.6
32    A     Chiba  180.2
33    A     Chiba  182.9
34    C     Chiba  180.6
35    C   Saitama  179.5
36    B  Kanagawa  177.2
37    A     Tokyo  176.9
38    C  Kanagawa  182.2
39    A  Kanagawa  179.3
40    A   Saitama  175.0
41    B   Saitama  179.0
42    C  Kanagawa  180.2
43    B     Tokyo  183.2
44    B     Chiba  180.1
45    C  Kanagawa  178.7
46    A     Tokyo  181.0
47    B  Kanagawa  179.0
48    B   Saitama  180.8
49    B   Saitama  177.1
50    C     Tokyo  182.9
51    B   Saitama  180.3
52    B  Kanagawa  180.7
53    B     Chiba  180.0
54    B   Saitama  177.6
55    A     Chiba  180.6
56    A     Tokyo  181.7
57    C     Tokyo  178.8
58    B  Kanagawa  180.7
59    A     Tokyo  181.9

In [4]:
print(df['Pref'].value_counts())

Tokyo       19
Saitama     15
Kanagawa    14
Chiba       12
Name: Pref, dtype: int64

In [5]:
mean = df.mean()
print(mean)

Time    179.943333
dtype: float64

In [8]:
df_pref_team = df.groupby(['Pref', 'Team']).mean()
print(df_pref_team)
df_pivot = df.pivot_table('Time',index='Pref', columns='Team', aggfunc=np.mean)
display(df_pivot)

                     Time
Pref     Team
Chiba    A     180.875000
         B     180.900000
         C     182.140000
Kanagawa A     179.600000
         B     178.757143
         C     180.366667
Saitama  A     178.500000
         B     179.571429
         C     180.250000
Tokyo    A     179.583333
         B     181.525000
         C     179.766667

Team               A           B           C
Pref
Chiba     180.875000  180.900000  182.140000
Kanagawa  179.600000  178.757143  180.366667
Saitama   178.500000  179.571429  180.250000
Tokyo     179.583333  181.525000  179.766667