In [1]:
import numpy as np
import pandas as pd

In [2]:
# Numby + Pandas AI01-02
df = pd.read_csv('./ai-0102/pandas_training-utf8.csv', delimiter=',', skiprows=13, header=0)
display(df)
print( df.shape )
print( df.dtypes )
display( df.info() )
display( df.describe() )
display( df.head() )

    CHANNEL REGION  FRESH   MILK  GROCERY  FROZEN  DET_PAPER  DELICA
0    Retail  Other  12669   9656     7561     214       2674    1338
1    Retail  Other   7057   9810     9568    1762       3293    1776
2    Retail  Other   6353   8808     7684    2405       3516    7844
3    Horeca  Other  13265   1196     4221    6404        507    1788
4    Retail  Other  22615   5410     7198    3915       1777    5185
..      ...    ...    ...    ...      ...     ...        ...     ...
435  Horeca  Other  29703  12051    16027   13135        182    2204
436  Horeca  Other  39228   1431      764    4510         93    2346
437  Retail  Other  14531  15488    30243     437      14841    1867
438  Horeca  Other  10290   1981     2232    1038        168    2125
439  Horeca  Other   2787   1698     2510      65        477      52

[440 rows x 8 columns]

(440, 8)
CHANNEL      object
REGION       object
FRESH         int64
MILK          int64
GROCERY       int64
FROZEN        int64
DET_PAPER     int64
DELICA        int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CHANNEL    440 non-null    object
 1   REGION     440 non-null    object
 2   FRESH      440 non-null    int64
 3   MILK       440 non-null    int64
 4   GROCERY    440 non-null    int64
 5   FROZEN     440 non-null    int64
 6   DET_PAPER  440 non-null    int64
 7   DELICA     440 non-null    int64
dtypes: int64(6), object(2)
memory usage: 27.6+ KB

None

,FRESH,MILK,GROCERY,FROZEN,DET_PAPER,DELICA
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

  CHANNEL REGION  FRESH  MILK  GROCERY  FROZEN  DET_PAPER  DELICA
0  Retail  Other  12669  9656     7561     214       2674    1338
1  Retail  Other   7057  9810     9568    1762       3293    1776
2  Retail  Other   6353  8808     7684    2405       3516    7844
3  Horeca  Other  13265  1196     4221    6404        507    1788
4  Retail  Other  22615  5410     7198    3915       1777    5185

In [3]:
# Numby + Pandas AI01-02: Slice dataframe
ser_milk = df['MILK']; print(ser_milk.head(3))
df_list = df[['FRESH', 'GROCERY']]; display(df_list.head(3))
df_slice = df.loc[:,'FRESH':'GROCERY']; display(df_slice.head(3))
df2 = df.loc[:2, 'GROCERY':]
display(df2)

0    9656
1    9810
2    8808
Name: MILK, dtype: int64

   FRESH  GROCERY
0  12669     7561
1   7057     9568
2   6353     7684

   FRESH  MILK  GROCERY
0  12669  9656     7561
1   7057  9810     9568
2   6353  8808     7684

   GROCERY  FROZEN  DET_PAPER  DELICA
0     7561     214       2674    1338
1     9568    1762       3293    1776
2     7684    2405       3516    7844

In [4]:
# Numby + Pandas AI01-02: Col calculation
display(df.head(3))
ser = 2*df['FRESH']+df['GROCERY']-10000
display(ser.head(3))

  CHANNEL REGION  FRESH  MILK  GROCERY  FROZEN  DET_PAPER  DELICA
0  Retail  Other  12669  9656     7561     214       2674    1338
1  Retail  Other   7057  9810     9568    1762       3293    1776
2  Retail  Other   6353  8808     7684    2405       3516    7844

0    22899
1    13682
2    10390
dtype: int64

In [5]:
# Numby + Pandas AI01-02: Max row
ser_max = df.loc[ df['FRESH'].idxmax() ]
print(ser_max)

CHANNEL      Horeca
REGION        Other
FRESH        112151
MILK          29627
GROCERY       18148
FROZEN        16745
DET_PAPER      4948
DELICA         8550
Name: 181, dtype: object

In [6]:
# Numby + Pandas AI01-02: Value count
print(df['REGION'].value_counts())

Other     316
Lisbon     77
Oporto     47
Name: REGION, dtype: int64

In [7]:
# Numby + Pandas AI01-02: Cross + Pivot table
df_reg_ch = pd.crosstab(df['REGION'], df['CHANNEL']); display(df_reg_ch)
df_reg_ch2 = pd.crosstab(df['REGION'], df['CHANNEL'], margins=True, normalize='columns')
display(df_reg_ch2)
df_pivot = df.pivot_table(index='REGION', columns='CHANNEL', values=['FRESH', 'FROZEN'])
display(df_pivot)

CHANNEL  Horeca  Retail
REGION
Lisbon       59      18
Oporto       28      19
Other       211     105

CHANNEL    Horeca    Retail       All
REGION
Lisbon   0.197987  0.126761  0.175000
Oporto   0.093960  0.133803  0.106818
Other    0.708054  0.739437  0.718182

                FRESH                    FROZEN
CHANNEL        Horeca       Retail       Horeca       Retail
REGION
Lisbon   12902.254237  5200.000000  3127.322034  2584.111111
Oporto   11650.535714  7289.789474  5745.035714  1540.578947
Other    13878.052133  9831.504762  3656.900474  1513.200000

In [8]:
# Numby + Pandas AI01-02: Sorting
display(df.head(3))
df2 = df.sort_values(by=['CHANNEL','FRESH'],ascending=[True,False])
display(df2.head(3))

  CHANNEL REGION  FRESH  MILK  GROCERY  FROZEN  DET_PAPER  DELICA
0  Retail  Other  12669  9656     7561     214       2674    1338
1  Retail  Other   7057  9810     9568    1762       3293    1776
2  Retail  Other   6353  8808     7684    2405       3516    7844

    CHANNEL REGION   FRESH   MILK  GROCERY  FROZEN  DET_PAPER  DELICA
181  Horeca  Other  112151  29627    18148   16745       4948    8550
125  Horeca  Other   76237   3473     7102   16538        778     918
284  Horeca  Other   68951   4411    12609    8692        751    2406

In [9]:
# Numby + Pandas AI01-02: Correlation coefficients
df2 = df.corr(); display(df2)
ser2 = df.corrwith(df['FRESH']); print(ser2)
print(ser2['FROZEN'])
corr3 = df['FROZEN'].corr(df['FRESH'])
print(corr3)

              FRESH      MILK   GROCERY    FROZEN  DET_PAPER    DELICA
FRESH      1.000000  0.100510 -0.011854  0.345881  -0.101953  0.244690
MILK       0.100510  1.000000  0.728335  0.123994   0.661816  0.406368
GROCERY   -0.011854  0.728335  1.000000 -0.040193   0.924641  0.205497
FROZEN     0.345881  0.123994 -0.040193  1.000000  -0.131525  0.390947
DET_PAPER -0.101953  0.661816  0.924641 -0.131525   1.000000  0.069291
DELICA     0.244690  0.406368  0.205497  0.390947   0.069291  1.000000

FRESH        1.000000
MILK         0.100510
GROCERY     -0.011854
FROZEN       0.345881
DET_PAPER   -0.101953
DELICA       0.244690
dtype: float64
0.3458814571090803
0.3458814571090803

In [10]:
# Numby + Pandas AI01-02: Detect missing
df_missing = pd.read_csv('./ai-0102/pandas_training_missing-utf8.csv',delimiter=',', skiprows=13, header=0)
display(df_missing.head(3))
print( df_missing.isnull().sum() )
display( df_missing[ df_missing.isnull().any(axis=1) ] )

  CHANNEL REGION   FRESH  MILK  GROCERY  FROZEN  DET_PAPER  DELICA
0  Retail  Other     NaN  9656     7561     NaN       2674  1338.0
1  Retail  Other  7057.0  9810     9568  1762.0       3293     NaN
2  Retail  Other  6353.0  8808     7684  2405.0       3516  7844.0

CHANNEL      0
REGION       0
FRESH        1
MILK         0
GROCERY      0
FROZEN       1
DET_PAPER    0
DELICA       1
dtype: int64

  CHANNEL REGION   FRESH  MILK  GROCERY  FROZEN  DET_PAPER  DELICA
0  Retail  Other     NaN  9656     7561     NaN       2674  1338.0
1  Retail  Other  7057.0  9810     9568  1762.0       3293     NaN

In [11]:
# Numby + Pandas AI01-02: Delete missing
display(df_missing.head(3))
df_del = df_missing.dropna(axis=0); display(df_del.head(3))
df_del = df_missing.dropna(axis=0).reset_index(drop=True); display(df_del.head(3))
df_del = df_missing.dropna(subset=['DELICA'], axis=0); display(df_del.head(3))
df_filled = df_missing.fillna(df_missing.mean()); display(df_filled.head(3))

  CHANNEL REGION   FRESH  MILK  GROCERY  FROZEN  DET_PAPER  DELICA
0  Retail  Other     NaN  9656     7561     NaN       2674  1338.0
1  Retail  Other  7057.0  9810     9568  1762.0       3293     NaN
2  Retail  Other  6353.0  8808     7684  2405.0       3516  7844.0

  CHANNEL REGION    FRESH  MILK  GROCERY  FROZEN  DET_PAPER  DELICA
2  Retail  Other   6353.0  8808     7684  2405.0       3516  7844.0
3  Horeca  Other  13265.0  1196     4221  6404.0        507  1788.0
4  Retail  Other  22615.0  5410     7198  3915.0       1777  5185.0

  CHANNEL REGION    FRESH  MILK  GROCERY  FROZEN  DET_PAPER  DELICA
0  Retail  Other   6353.0  8808     7684  2405.0       3516  7844.0
1  Horeca  Other  13265.0  1196     4221  6404.0        507  1788.0
2  Retail  Other  22615.0  5410     7198  3915.0       1777  5185.0

  CHANNEL REGION    FRESH  MILK  GROCERY  FROZEN  DET_PAPER  DELICA
0  Retail  Other      NaN  9656     7561     NaN       2674  1338.0
2  Retail  Other   6353.0  8808     7684  2405.0       3516  7844.0
3  Horeca  Other  13265.0  1196     4221  6404.0        507  1788.0

,CHANNEL,REGION,FRESH,MILK,GROCERY,FROZEN,DET_PAPER,DELICA
0,Retail,Other,11998.774487,9656,7561,3078.441913,2674,1338.000000
1,Retail,Other,7057.000000,9810,9568,1762.000000,3293,1524.298405
2,Retail,Other,6353.000000,8808,7684,2405.000000,3516,7844.000000